
/* get trebuchetMS font from .ttf file */
@font-face {
    font-family: 'Trebuchet MS';
    src: url(trebuchetMS.ttf);
}

*{
    box-sizing: border-box;
    font-family: var(--font-family);
}
:root{
    --primary-color: rgb(25, 25, 25);
    --secondary-color: rgb(44, 44, 44);
    --color-gray: rgb(40, 40, 40);
    --dark-gray: rgb(51, 51, 51);
    --light-gray: rgb(62, 62, 62);
    --primary-text-color: white;
    --background-color: var(--primary-color);
    --keyboard-button-color: rgb(93, 93, 93);
    --board-box-border: 1px solid var(--dark-gray);
    --board-box-active-border: 2px solid var(--light-gray);
    --correct-color: #538d4e;
    --present-color: #b59f3b;
    --font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
}

#letter-board{
    max-width: 500px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, clamp(3rem, 12vw, 6rem));
    grid-template-rows: repeat(6, clamp(3rem, 12vw, 6rem));
    grid-gap: 0.7rem;
    align-content: center;
}
#letter-board > .box{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: clamp(2rem, 7vw, 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--board-box-border);
    border-radius: 0.3rem;
    transition: background 50ms ease;
}
#letter-board > [data-state="active"]{
    border: var(--board-box-active-border);
}


#keyboard{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding: clamp(2rem, 10vh, 4rem);
}
#keyboard > .row{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
}
button{
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    background-color: var(--keyboard-button-color);
    padding: clamp(0.4rem, 1vh, 1.1rem) clamp(0.6rem, 2vw, 1.1rem);
    margin: 0.5rem clamp(0.2rem, 1vw, 1rem);
    border: 0;
    border-radius: 0.5rem;
    transition: transform 100ms step-start, background 500ms;
    cursor: pointer;
    user-select: none;
}


[data-state="present"]{
    background-color: var(--present-color);
}
[data-state="correct"]{
    background-color: var(--correct-color);
}
[data-state="wrong"]{
    background-color: var(--color-gray);
}


#alerts-container{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.8rem, 3vw, 3rem);
}
#alerts-container > .alert{
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: clamp(0.5rem, 1.2vw, 1.5rem) clamp(1rem, 2vw, 2.5rem);
    margin: clamp(2rem, 2vw, 4rem) 0;
    border-radius: 0.5rem;
}


[data-animation="fade-out"]{
    animation: fadeOut 800ms ease-out;
}
[data-animation="pop"]{
    animation: Pop 100ms;
}
[data-animation="flip-in"]{
    animation: flipIn 250ms ease-in;
}
[data-animation="flip-out"]{
    animation: flipOut 250ms ease-in;
}
[data-animation="bounce"]{
    animation: Bounce 1000ms;
}

@keyframes fadeOut {
    from{ opacity: 1;}
    to{ opacity: 0;}
}
@keyframes Pop {
    from{ transform: scale(0.8); opacity: 0;}
    40%{ transform: scale(1.1); opacity: 1;}
}
@keyframes flipIn {
    0%{ transform: rotateX(0deg);}
    100%{ transform: rotateX(-90deg);}
}
@keyframes flipOut {
    0%{ transform: rotateX(-90deg);}
    100%{ transform: rotateX(0deg);}
}
@keyframes Bounce {
    0%, 20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 900px) and (min-height: 800px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (min-width: 1900px) and (min-height: 1000px) {
    :root{
        font-size: 14px;
    }
}