*{
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(15, 15, 15);
    --secondary-color: rgb(44, 44, 44);
    --color-gray: rgb(40, 40, 40);
    --dark-gray: rgb(51, 51, 51);
    --light-gray: rgb(62, 62, 62);
    --background-color: var(--primary-color);
    --keyboard-button-color: rgb(93, 93, 93);
    --board-box-border: 1px solid var(--dark-gray);
    --board-box-active-border: 2px solid var(--light-gray);
    --correct-color: #538d4e;
    --present-color: #b59f3b;
    font-size: 10px;
}

body{
    background-color: var(--background-color);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

#letter-board{
    max-width: 500px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, clamp(3rem, 12vw, 6rem));
    grid-template-rows: repeat(6, clamp(3rem, 12vw, 6rem));
    grid-gap: 0.7rem;
}
#letter-board > .box{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--board-box-border);
    border-radius: 0.3rem;
    transform: scale(0.9);
    transition: font-size 100ms step-end, transform 100ms cubic-bezier(0.8, 1.37, 0.78, 5);
}
#letter-board > .box.active{
    font-size: clamp(2rem, 7vw, 4rem);
    transform: scale(1);
    border: var(--board-box-active-border);
}
#letter-board > .box.submitted{
    font-size: clamp(2rem, 7vw, 4rem);
    transform: scale(1);
    background-color: var(--color-gray);
}
#letter-board > .box.flip{
    animation: flip 500ms ease-in-out;
}
@keyframes flip {
    50%{ transform: rotateX(90deg);}
    100%{ transform: rotateX(0deg);}
}
#letter-board > .box.present{
    background-color: var(--present-color);
}
#letter-board > .box.correct{
    background-color: var(--correct-color);
}

#keyboard{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding: clamp(2rem, 10vh, 4rem);
}

#keyboard > .row{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

#keyboard > .row > .key{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    background-color: var(--keyboard-button-color);
    padding: clamp(0.4rem, 1vh, 1.1rem) clamp(0.6rem, 2vw, 1.1rem);
    margin: 0.5rem clamp(0.2rem, 1vw, 1rem);
    border-radius: 0.5rem;
    transition: transform 100ms step-start;
    cursor: pointer;
    user-select: none;
}
#keyboard > .row > .key:hover{
    transform: scale(1.08);
}
#keyboard > .row > .key.present{
    background-color: var(--present-color);
}
#keyboard > .row > .key.correct{
    background-color: var(--correct-color);
}