
[data-animation="fade-in"]{
    animation: fadeIn 500ms ease-in;
}
[data-animation="fade-out"]{
    animation: fadeOut 500ms ease-out;
}
[data-animation="pop"]{
    animation: Pop 100ms;
}
[data-animation="zoom-in"]{
    animation: ZoomIn 1000ms ease-out;
}
[data-animation="flip-in"]{
    animation: flipIn 250ms ease-in;
}
[data-animation="flip-out"]{
    animation: flipOut 250ms ease-in;
}
[data-animation="bounce"]{
    animation: Bounce 1000ms;
}
[data-animation="shake"]{
    animation: Shake 600ms;
}

@keyframes fadeIn {
    from{ opacity: 0;}
    to{ opacity: 1;}
}
@keyframes fadeOut {
    from{ opacity: 1;}
    to{ opacity: 0;}
}
@keyframes Pop {
    from{ transform: scale(0.8); opacity: 0;}
    40%{ transform: scale(1.1); opacity: 1;}
}
@keyframes ZoomIn {
    from{ transform: scale(0.5); opacity: 0;}
    40%{ transform: scale(1); opacity: 1;}
}
@keyframes flipIn {
    0%{ transform: rotateX(0deg);}
    100%{ transform: rotateX(-90deg);}
}
@keyframes flipOut {
    0%{ transform: rotateX(-90deg);}
    100%{ transform: rotateX(0deg);}
}
@keyframes Bounce {
    0%, 20% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    50% { transform: translateY(5px); }
    60% { transform: translateY(-15px); }
    80% { transform: translateY(2px); }
    100% { transform: translateY(0); }
}
@keyframes Shake {
    10%, 90% { transform: translateX(-1px); }
    20%, 80% { transform: translateX(2px); }
    30%, 50%, 70% { transform: translateX(-4px); }
    40%, 60% { transform: translateX(4px); }
}